/* 
    Document   : style
    Created on : 22-Feb-2017, 11:57:50 AM
    Author     : blackid25
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}
body {
    background: #fff;
    color: #000;
    font-family: 'museo-sans',  sans-serif !important;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto;
    padding: 0;
}
ul, ol, li, ul ul, ol ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img { border: none; }
.clear:after {
    clear: both;
    content: '';
    display: table;
}
form { margin: 0; }
form:after {
    content: '';
    clear: both;
    display: table;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"], input[type="tel"], textarea {
    box-shadow: none;
    outline: none ;
    margin: 0;
    -webkit-appearance: none;
}
input[type="submit"] {
    cursor: pointer;
    outline: none;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="tel"]:focus, textarea:focus {
    background: transparent;
    box-shadow: none;
    outline: none ;

}
textarea { resize: none; }
.columns, .row { position: relative; }
label { cursor: auto; }

h1 {

    color: #121212;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin: 0 0 25px;
    padding: 0 0 8px;
    text-transform: uppercase;
}
h2 {color: #121212;font-size: 26px;font-weight: 500;line-height: 28px;margin: 0 0 10px;padding: 0 0 10px;}
h3 {

    color: #121212;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin: 0 0 10px;
    padding: 0 0 10px;
    text-transform: uppercase;
}
h4 {
    color: #121212;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
    padding: 0 0 15px;
}
h5 {
    color: #121212;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    padding: 0 0 15px;
}
h6 {
    color: #121212;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 0;
    padding: 0 0 15px;
}
p {
    font-weight: 300;
    margin:0;
    padding:0 0 10px;
}
a {
    color: #009ede;
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #007aab;
    text-decoration: none;
    outline: none;
}
a:focus {
    color: #007aab;
    text-decoration: none;
    outline: none;
}
.main{
    display: block;
    margin: 0 auto;
    padding: 0;

}

/********* * Header  Styling Starts Here * **********/

.header{
    display: block;
    background: #111111;
    padding:10px 0;
}
.logo img {
    width: auto;
    max-width: 100%;
    height: 60px;
}
.profile_block{
    display: block;
    float: right;
    position: relative;
    padding-top: 20px;
}
.profile_block .more_reports{
    display: inline-block;
    color:#fff;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
}
.profile_block .profile_user{
    color: #fff;
    width: 35px;
    display: inline-block;
    height: 35px;
    border: solid 2px #fff;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding-top: 2px;
    margin-left: 95px;
    vertical-align: middle;
}
.profile_block .more_reports:before{
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 25px;
    display: block;
    position: absolute;
    right: -40px;
    font-weight: 100;
    top: -6px;
}
/************ *  *   Profile Popup Styling * * ******************/


.profile_popup{
    display:block;
    width:600px;
    padding:20px;
    background: #f7f6f6;
    position: absolute;
    z-index: 111;
    right: 0px;
    top: 70px;
}
.profile_left{
    display: block;
    width: 50%;
    float:right;
    border-right: solid 1px #a1a1a1;
    padding-right: 25px;
    padding-top: 10px;
    font-size: 12px;
    color: #616161;
    line-height: 18px;
}
span.prof_close{
    position: absolute;
    right: 20px;
    font-size: 17px;
    cursor:pointer
}
sup.msg-count {
    border-radius: 25px;
    background: #2f869c;
    padding: 4px 10px;
    color: #fff;
}
.profile_left p{
    font-size: 12px;
    color: #616161;
    line-height: 18px;
}

.profile_title{
    color:#373737;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

}
.profile_right{
    display: block;
    width: 50%;
    float:right;
    padding-left: 25px;
}
.name_title {
    font-weight: 500;
    color: #373737;
    font-size: 17px;
    padding-top: 10px;
    line-height: 20px;
    position: relative;
    padding-bottom:20px;
}
.name_title .name_profile{
    width: 35px;
    height: 35px;
    font-size: 25px;
    border: solid 1px #373737;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
    margin-right: 20px;
    background: #e7e6e6
}
h6.profile_subttl{
    color:#3baac5;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

}

.prof_info span,
.prof_info a{
    display:block;
    color: #616161;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    vertical-align: middle;
    padding-bottom: 5px;
}
.prof_info span .fa,
.prof_info a .fa{
    color:#3baac5;
    padding-right: 10px;
    font-size: 14px;
    vertical-align: middle;
}
/********* * Breadcrumbs  styling Starts Here*  * **********/


.firstContent .breadcrumbs{
    padding: 15px 0 15px !important;
    background: transparent !important;
    border:0 !important;
    color: #a5a5a5;
}
.firstContent .breadcrumbs li{
    display: inline-block;
}
.firstContent .breadcrumbs li a{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #a5a5a5;
}
.firstContent .breadcrumbs li:first-child:after{
    color: #a5a5a5 !important;
    position: relative;
    top: 1px;
    margin: 0 .75rem;
    opacity: 1;
    content: "/";
}
.firstContent .breadcrumbs li:not(:last-child):after{
    color: #a5a5a5 !important;
    position: relative;
    top: 1px;
    margin: 0 .75rem;
    opacity: 1;
    content: "/";
}
.firstContent .breadcrumbs li.active a{
}
.firstContent .breadcrumbs>*:before{
    display:none !important;
}
.page_title{
    text-align: left;
    border:0;
    color: #434343;
    font-size: 31px;
    font-weight: 300;
    text-transform: capitalize;
}
.menu-wrapper {
    background: #e9e8e8;
}
.page-menu{
    display: block;
    margin: 20px 0 35px;
}
.page-menu li{
    display: inline-block;
    /* width: 20%; */
    float: left;
    /* margin: 0 3%; */
    /* max-width: 20%; */
    position: relative;
}
.page-menu li:last-child{
    margin-right: 0;
}
.page-menu li a{
    display:block;
    color: #818181;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 30px;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition:  all 0.5s ease;
    border-right: solid 1px #dadada;
}
.page-menu li a:hover,
.page-menu li.active a{
    background: #2898d5;
    color: #fff;
}
.page-menu li.active a:after {
    content:'';
    position: absolute;
    left: 43%;
    width: 0;
    height: 0;
    border-top: solid 10px #2898d5;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    bottom: -8px;
}

/***********  *  Transaction History Styling Starts Here* * *************/

.menu-discription{
    display: block;
    background: #313f4f;
    padding:15px 0;
}
.discription-blk{
    display:block;
    margin:0 auto;
    width:100%;
    max-width: 755px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color:#fff;

}
.discription-ttl{
    font-size: 24px;
    border:0;
    color:#2fefed;
    font-weight: 700;
    line-height: 30px;
    padding: 5px 0px 0;
    text-transform: capitalize
}
.discription-subttl{
    font-weight: 500;
    font-size: 17px;
    color:#fff;
    font-style: italic;
    color:#878d94;
    line-height: 32px;
    padding-bottom: 0;
    margin:0;

}
.discription-blk p{
    font-weight: 500;
    font-size: 18px;
    color:#fff;
}
.discription-blk p a{
    color:#2fefed;
    text-transform: capitalize
}


/********* * Form Info styling Starst Here *  * ***********/


.form-info-block{
    display: block;
    background: #f7f6f6;
    border-bottom: solid 1px #313f4f;
    padding: 20px;
}
.form-topstrip h6{
    font-weight: 500;
    font-style: italic;
    color: #3baac5;
    font-size: 13px;
    width:65%;
    display: block;
    float:left;
}
.form-topstrip h6 span{
    font-weight: 700;
    font-style: normal
}
.form-topstrip .form-rightstrip{
    width:35%;
    float:left;
    display: block
}
.form-rightstrip .link-group{
    float: right;
}
.form-topstrip .form-rightstrip a{
    display: inline-block;
    font-weight: 500;
    color:#4f4f4f;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
    vertical-align: middle;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition:  all 0.5s ease;
}
.form-topstrip .form-rightstrip a:hover{
    color:#27879e;
}
.filter-lnk{
    border-right: solid 1px #4f4f4f;
    padding-right:20px;
}

.download-lnk:before{
    content: '\f019';
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 22px;
    position: relative;
    vertical-align: middle;
    margin:0 10px 0 25px;
}
.filter-lnk:before{
    content: '\f0b0 ';
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 22px;
    position: relative;
    vertical-align: middle;
    margin-right: 10px

}
.form-content{
    display:block;
    margin: 0 auto;
    width:100%;
    max-width: 890px;
}
.form-ttl{
    color:#a3a3a3;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 0;
    text-transform: capitalize;
    letter-spacing: 0.5px;

}
.form-block{
    width:100%;
    max-width: 520px;
    display: block;
    margin-bottom: 10px
}
.frm-lbl{
    display:block;
    width: 22%;
    float:left;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #444444;
    line-height: 20px;
    padding-top:19px;
}
.frm-input-blk{
    display: block;
    width:77%;
    float:left;
    margin-top: 15px;
}
.frm-input{
    border:0;
    border-bottom: solid 1px #acacac;
    background: transparent;
    padding:5px 0 5px 15px;
    width: 100%;
}
.frm-input:focus {
    background: transparent;
    box-shadow: none;
    outline: none ;
    border:0;
    border-bottom: solid 1px #acacac;
}

.last-frm-blk .input-blk{
    max-width: 160px;
    width:100%;
    display: block;
    position: relative;
}
.last-frm-blk .first-input{
    float:left
}
.last-frm-blk .last-input{
    float:right
}

.last-frm-blk .input-blk .ui-datepicker-trigger{
    width:15px;
    height:16px;
    position:absolute;
    top:5px;
    right: 22px;
    cursor: pointer;
}
.ui-widget-header .ui-icon {
    background-image: url('images/ui-icons_555555_256x240.png');
}

.form-btn-group{
    display:block;
    padding:20px 0 25px;
}
.frmbtn-menu{
    display: block;
}
.frmbtn-menu li{
    display:block;
    float:left;
    width:18%;
    margin-right:20px;
}
.frmbtn-menu li a{
    border: solid 1px #75d6ed;
    color: #58b5cc;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    padding:10px 0;
    display: block;
    background: #ddf6fc;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition:  all 0.5s ease;
}
.frmbtn-menu li:last-child{
    margin-right: 0;
}
.frmbtn-menu li a:hover{
    background: #fff;
}
.appBtn{
    display:inline-block;
    max-width: 110px;
    width:100%;
    color:#4f4f4f;
    border:solid 1px #acacac;
    border-radius: 25px !important;
    padding:7px 0;
    text-align: center;
    background-color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition:  all 0.5s ease;

}
.appBtn:hover{
    background-color: #2f869c;
    border:solid 1px #2f869c;
    color:#fff;
}
.submit-btn{
    margin-right: 40px;
}
.submit-btn:focus{
    outline:none;

}
table#example{
    border:0;
}
table#example thead tr{
    background: #313f4f;

}
table#example thead tr th{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
}
table#example tbody tr td{
    color: #4f4f4f;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    border-top: solid 1px #b7b7b7
}
table#example tbody tr:first-child td{
    border-top: 0 !important
}
table#example tbody tr {
    background: #fff !important;

}

table.dataTable thead .sorting_asc{
    background-image:none;
    position: relative;
}
table.dataTable thead .sorting_asc:before{
    content: '\f0de';
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-family: 'FontAwesome';
    right: 24px;
    font-weight: 100;
}
table.dataTable thead .sorting_desc:before{
    content: '\f0dd';
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-family: 'FontAwesome';
    right: 24px;
    font-weight: 100;
}

table.dataTable thead .sorting_desc{
    background-image:none;
    position: relative;
}
table.dataTable thead .sorting{
    background-image:none;
    position: relative;

}
table.dataTable thead .sorting:before{
    content: '\f0dc';
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-family: 'FontAwesome';
    right: 24px;
    font-weight: 100;
}
/*#example tr.odd td:last-of-type{
    cursor: pointer;
    position: relative;
}
#example tr.odd td:last-of-type:before{
    content: '\f067';
    position: absolute;
    color: #27879e;
    font-size: 17px;
    font-family: 'FontAwesome';
    left: 25%;
    top: 21px;
    font-weight: 100;
}
#example tr.odd td.active:before{
    content: '\f068';

}*/
/*#example tr.even,
#example tbody tr:nth-child(even){
    display:none;
}*/
td.details-control {
    background:none;
    cursor: pointer;
    position: relative;
}
td.details-control:before{
    content: '\f067';
    position: absolute;
    color: #27879e;
    font-size: 17px;
    font-family: 'FontAwesome';
    left: 25%;
    top: 21px;
    font-weight: 100;
}

tr.shown td.details-control {
    background: none;
}
tr.shown td.details-control:before{
    content: '\f068';
}

#example .example-child thead tr th{
    color:#4f4f4f;
}
#example .example-child thead tr,
#example .example-child thead tr th{
    background-color:#FBF9F8;
}
/********** *   Footer Styling  Starts Here *   **************/


.footer{
    background:#0d3668;
    padding:50px 0;
}
.footer .ft-logo img{
    width: auto;
    max-width: 100%;
    height: 60px;
}
.ftr-one p {
    color: #9ab4d3;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
    font-weight: 300;
    max-width: 350px;
}


@media(max-width:1228px){
    .page-menu li{
        margin-right: 43px;
        width:21.5%;
    }
}
@media(max-width:1040px){
    .page-menu li{
        margin-right: 40px;
    }
}
@media(max-width:992px){
    .page-menu li{
        margin-right: 19px;
        width:23%;
    }
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting:before{
        right:0;
    }
}
@media(max-width:960px){
    .example-child{
        width: 620px;
        overflow-x: scroll;
        margin:0 auto;
        display: block;

    }
}
@media(max-width:890px){
    .frmbtn-menu li{
        width:17.5%;
    }
}
@media(max-width:780px){
    .page-menu li{
        margin-right: 20px;
        width:48%;
        margin-bottom: 15px;
    }
    .page-menu{
        width:100%;
        max-width: 570px;
        margin:0 auto;
    }
    .download-lnk::before{
        margin: 0 10px 0 15px;
    }
    .frmbtn-menu li{
        display:inline-block;
        float:none;
        margin-right: 10px;
    }

}
@media(max-width:640px){
    .table-example{
        width: 620px;
        overflow-x: scroll;
        display: block;
    }
    .form-topstrip h6,
    .form-topstrip .form-rightstrip{
        width:50%;
    }
    .frmbtn-menu li{
        display:inline-block;
        float:none;
        margin-right: 10px;
        width:125px;
        margin-bottom: 10px;
        text-align: center;
    }
    .profile_popup{
        width:300px;
    }
    .profile_left,
    .profile_right{
        width:100%;
        float:none;
        border:0;
        padding:0 0 20px
    }
}
@media(max-width:580px){
    .page-menu li{
        float:none;
        margin: 0 auto 15px !important;
        width:260px;
        max-width: 100%;
    }
    .last-frm-blk .input-blk{
        float:none !important;
        max-width: 100%;
    }


}
@media(max-width:460px){
    .form-topstrip h6,
    .form-topstrip .form-rightstrip,
    .form-rightstrip .link-group{
        width:100%;
        float:none;
    }
}
@media(max-width:390px){
    .logo-sm{
        float:none !important;
        width:100%;
        text-align: center;
    }
    .profile_block{
        float:none;
    }
    .frmbtn-menu li{
        display: block;
        width:160px;
        margin:0 auto 10px !important;
    }
    .frm-input-blk{
        width:70%;
    }
    .frm-lbl{
        width:30%;
    }

}


/********** *   Message Styling  Starts Here *   **************/

.message-box {
    height: calc(100vh - 50px);
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

.message-list-box {
    width: 25%;
    border-right: 1px solid #ddd;
    overflow: hidden;
}
.message-list {
    overflow-y: scroll;
    padding: 10px;
    height: 85%;
}

.message-desc {
    width: 75%;
    padding: 10px;
}